{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
<h1>User</h1>
<p>Hi {{ user.username }}!</p>
<p><b>Email: </b>{{ user.email }}</p>
<p><b>First Name: </b> {{ user.first_name }}</p>
<p><b>Last Name: </b> {{ user.last_name }}</p>
<div>
    <form action="/users/{{ user.username }}/delete" method="POST">
        <button type="submit" class="btn btn-danger my-4">Delete User</button>
    </form>
</div>

<p class="display-3">{{ user.username }} Feedbacks</p>

{% for feedback in user.feedback %}
<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title text-info">
            {{ feedback.title }}
            {% if session['username'] == feedback.username %}
            <form style="display:inline;" action="/feedback/{{feedback.id}}/update" method="POST">
                <button class="btn btn-sm btn-primary ml-5"><i class="fa-solid fa-pen-to-square"></i></button>
            </form>

            <form style="display:inline;" action="/feedback/{{feedback.id}}/delete" method="POST">
                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></button>
            </form>

            {% endif %}
        </h5>

        <p class="card-text">
            {{ feedback.content }}
        </p>

    </div>
</div>

{% endfor %}

<form action="/users/{{ user.username }}/feedback/add" method="GET">
    <button type="submit" class="btn btn-success">Add Feedback</button>
</form>


{% endblock %}